@import "common/vars";

html, body {
	height: 100%;
}

body {
	background-image: url('/static/mwlearnapp/images/logo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.error {
	font-weight: bold;
	color: red;
}

div.login_outer {
	width: 400px;
	height: 200px;

	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: rgba(255, 255, 255, 0.9);
	border: 3px solid black;
}

div.login_middle {
	display: table-cell;
	vertical-align: middle;
	text-align: center;

	width: 400px;
	height: 200px;
}

div.login_inner {
	display: inline-block;

	width: 100%;

	.title {
		font-size: 18pt;
		font-weight: bold;
		color: rgb(192,0,0);
		font-variant: small-caps;
		margin-bottom: 1em;
	}

	form {
		margin: 0 auto;

		padding: 1em;
		text-align: center;

		.row {
			margin-bottom: 1em;

			.label {
				text-align: right;
			}
			.field {
				input {
					width: 90%;
				}
			}
		}
		.button {

		}
	}
}