table {
	margin: 1em;
	border: 1px solid black;

	tr {
		border: 1px solid black;
	}

	td.user {
		text-align: right;
		padding-right: 1em;
	}
	td.value {
		font-weight: bold;
		padding-right: 1em;
	}
}