#uninstall ruby
#sudo apt-get install build-essential openssl libreadline6 libreadline6-dev curl git-core zlib1g zlib1g-dev libssl-dev libyaml-dev libsqlite3-dev sqlite3 libxml2-dev libxslt-dev autoconf libc6-dev ncurses-dev automake libtool bison subversion nodejs
#\curl -sSL https://get.rvm.io | bash -s stable --ruby
# echo '[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"' >> ~/.bashrc
##restart terminal
#gem install sass --pre
#gem install compass --pre

##database
#postgresql==9.1
#postgresql-server-dev-9.1 (so pip install psycopg2 will work)

##modify database configuration
#sudo nano /etc/postgresql/9.1/main/postgresql.conf
#	client_encoding = 'UTF8'
#	default_transaction_isolation: 'read committed' (should be default)
#	timezone = 'UTC'
##restart the server
#sudo service postgresql restart

##create a postgres superuser account
#sudo -u postgres createuser <linux username>
##create the database
#createdb mwlearn

#python==3.3
#pip (for python 3)

Django==1.7.1
psycopg2==2.5.1 # PostGreSQL python hook
South==1.0.1 # django database migration
beautifulsoup4==4.3.2 # for django_compressor
versiontools==1.9.1 # for django_compressor
html5lib==0.999 # for django_compressor
cssmin==0.2.0 # for django_compressor
slimit==0.8.1 # for django_compressor
##so pip install git+git://github.com/jezdez/django_compressor
#django_compressor==dev #"dev" to supports python 3
