@import "common/vars";

html, body {
	height: 100%;
}

#action_help {
	font-weight: bold;
}

div.base, div#experiment, #side-bar {
	height: 100%
}

#experiment {

}
#side-bar {

}

div.status {
	height: 20%
}
div.menu {
	height: 40%;

	ul {
		margin-bottom: 1em;

		li {

		}
	}

}
div.history {
	height: 40%;
}

#popup {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 80%;
	height: 80%;
}
#popup_dim {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	display: none;
}
#failsafe {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 90%;
	height: 90%;

	border: 8px solid red;
	background: white;

	text-align: center;

	display: none;

	.instruction {
		font-size: 12pt;

		em {
			font-weight: bold;
		}
	}
	textarea {
		margin: 1em;

		height: 75%;
		width: 95%;
	}
	.button {

	}
}

#experiment, #status, #menu, #history {
	height: 100%;
}

#experiment {
	//background: red;
}
#status {
	//background: blue;
}
#menu {
	//background: green
}
#history {
	//background: yellow
}

