@import "../common/mwlearn";
@import "../nav/marginal";

body {
	//prevent scrollbars, right panel animation scrollbars
	overflow: hidden;
}

//header and footer
	$marginal-border: $marginal-border-width solid $marginal-border-color;

	header, footer {
		position: absolute;
		left: 0;
		right: 0;

		//width: 100% - 2*$marginal-margin-horizontal;

		margin-left: $marginal-margin-horizontal;
		margin-right: $marginal-margin-horizontal;

		border-radius: $marginal-border-radius;
	}

	header {
		height: $header-height;

		border-bottom: $marginal-border;

		box-shadow: $shadow-tall;
	}
	footer {
		z-index: 1;

		//place the footer at the bottom
		bottom: 0;

		height: $footer-height;

		border-top: $marginal-border;

		box-shadow: $shadow-tall-up;
	}
