//construct some lists for form field elements
	$input_types: text, password, submit, email, url, date, month, time, datetime, datetime-local, week, number, search, tel, color;
	$form_other: select, textarea;

	$input_fields: ();
	@each $type in $input_types {
		$input_fields: append($input_fields, unquote('.pure-form input[type="#{$type}"]'), comma) !global;
	}

	$form_fields: $input_fields;
	@each $field in $form_other {
		//$form_fields: append($form_fields, unquote('.pure-form #{$field}'), comma);
		$form_fields: append($form_fields, #{$field}, comma) !global;
	}

	$form_fields_focus: ();
	@each $field in $form_fields {
		$form_fields_focus: append($form_fields_focus, unquote('#{$field}:focus'), comma) !global;
	}

//colors
	$blue: rgb(0,128,255);
	$blue-dark: rgb(0,32,96);
	$blue-light: rgb(224,224,255);

	$orange: rgb(255,192,0);
	$orange-dark: rgb(248,96,0);
	$orange-light: rgb(255,240,128);

	$green: rgb(96,208,160);
	$green-darkish: rgb(64,176,128);
	$green-darker: rgb(48,144,96);
	$green-dark: rgb(0,112,64);
	$green-light: rgb(224,255,128);

	$rust: rgb(192,72,32);
	$red: rgb(255,64,0);
	$red-dark: rgb(208,0,0);
	$red-light: rgb(255,224,208);

	$yellow: rgb(255,248,0);
	$yellow-dark: rgb(224,160,0);
	$yellow-light: rgb(255,255,128);

	$gray-dark: rgb(96,96,96);
	$gray: rgb(144,144,144);
	$gray-light: rgb(208,208,208);

	$dark: darken($blue-dark,16%);
	$black: darken($blue-dark,20%);
	$white: white;
//fonts
	$font-base-size: 10pt;

	$font-huger: 1.4em;
	$font-larger: 1.2em;
	$font-normal: 1em;
	$font-smaller: 0.9em;
	$font-tinier: 0.8em;

	$font-size-heading: $font-larger;
	$font-size-instruction: $font-normal;
	$font-size-prompt: $font-normal;
//shadows
	$shadow-size-tall: 2px;
	$shadow-size-medium: 2px;
	$shadow-size-short: 1px;
	$shadow-blur: 1px;

	$shadow-color:	rgba($black,.5);

	$shadow-tall: $shadow-size-tall $shadow-size-tall $shadow-blur $shadow-color;
	$shadow-tall-up: $shadow-size-tall -1*$shadow-size-tall $shadow-blur $shadow-color;

	$shadow-medium: $shadow-size-tall $shadow-size-tall $shadow-blur $shadow-color;

	$shadow-short:	$shadow-size-short $shadow-size-short $shadow-blur $shadow-color;
//curviness
	$border-radius: 2px;

//forms
	$input-border-radius: $border-radius;

	$field-border-color-focus: $orange;


//welcome view
	$welcome-width: 800px;

	$welcome-sep-width: 1px;
	$welcome-sep-color: $gray-light;

	$login-signup-padding: 1em;

//main header and footer
	$marginal-background-color: $green-darkish;
	$marginal-font-color: $white;

	$marginal-border-color: none;//rgba($marginal-background-color, 0.3333333);
	$marginal-border-width: 0px;
	$marginal-border-radius: $border-radius;

	$marginal-margin-horizontal: $shadow-size-tall+1;

	$logo-width: 120px;
	$logo-height: 24px;
	$logo-padding: 2px;

	$header-height: $logo-height + 2*$logo-padding;
	$footer-height: 16px;

//main nav
	$nav-item-padding-outer: 0.75em;
	$nav-item-padding-inner: 0.4em;
	$nav-item-border-radius: $border-radius;

	$nav_aux-item-padding-outer: 0.5em;

//panels
	$panel-animation-speed: 0.1s;

	$panel-side-padding-top: 5px;
	$panel-side-padding-bottom: $panel-side-padding-top;
	$panel-side-width: 150px;

	$panel-padding-horizontal: 16px;

	$panel-border-color: rgba($white, 0.3333333);
	$panel-border-width: 4px;
	$panel-border-radius: 5px;

	$panel-background-color: rgba($white,0.8);

	$panel-toggle-background-color: $white;
	$panel-toggle-font-size: 16px;

	$panel-toggle-long: 2*$panel-toggle-font-size;
	$panel-toggle-short: $panel-toggle-font-size;
	$panel-toggle-border-radius: 3px;

	$panel-nav-height: 32px;
	$panel-nav-background-color: $marginal-background-color;
	$panel-nav-border-color: rgba($blue-light, 0.5);
	$panel-nav-border-width: 2px;


$color-inactive: $blue;
$color-active: $orange;
$color-selected: $rust;
$color-success: $green;
$color-info: $blue;
$color-warning: $orange-dark;
$color-error: $red;
