@import "../base/base";
@import "../nav/marginal";

//counteract some stuff from base
	body {
		overflow: auto;
	}
	footer {
		position: static;
		box-shadow: $shadow-short;
	}


//outer div holding the page content
#outer {
	//center the content on the screen
		position: absolute;
		margin: auto;

		left: 0;
		right: 0;

	max-width: $welcome-width;
}

#logo {
	//make it fill everything up to 400px (width: 100% also assists in centering)
	width: 100%;
	max-width: 400px;

	//center the logo horizontally;
	margin: 0 auto;

	img {
		width: 100%;
	}
}

//welcome page content
#content {
	//fill the parent
	width: 100%;
}

//customize the footer
footer {
	margin-top: 3em;
}
