{% load static compress %}

{# put non-outputting template tags here #}
{% block tags %}{% endblock tags %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		{% block meta %}
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% endblock meta %}

		{% block favicon %}<link rel="shortcut icon" href="{% static "mwlearnapp/images/favicon.png" %}" />{% endblock favicon %}

		{# set the title through the view's "title" attribute #}
		<title>{% block title %}mwlearn{% if view.title %}: {{ view.title }}{% endif %}{% endblock title %}</title>

		{% block all_style %}{% compress css %}

			{% block framework_style %}
				<link type="text/css" rel="stylesheet" href="{% static "mwlearnapp/external/font-awesome/css/font-awesome.css" %}" />
				<link type="text/css" rel="stylesheet" href="{% static "mwlearnapp/external/pure/pure.css" %}" />
			{% endblock framework_style %}

			{# the base style sheet to define the page format #}
			{% block base_style %}
				<link type="text/x-scss" rel="stylesheet" href="{% static "mwlearnapp/style/base/base.scss" %}" />
			{% endblock base_style %}

			{% block style %}{% endblock style %}

		{% endcompress css %}{% endblock all_style %}
	</head>

<body {% block body_attr %}{% endblock body_attr %}>
    {% block body %}
		<header>{% block header %}
			{% comment %}{% include 'main/nav/main.html' %}{% endcomment %}
		{% endblock header %}</header>

		{% block pre_content %}{% endblock pre_content %}

		{# main content goes here #}
		{% block content %}{% endblock content %}

		{% block post_content %}{% endblock post_content %}

		<footer>{% block footer %}
			{% comment %}{% include 'main/nav/other.html' %}{% endcomment %}
		{% endblock footer %}</footer>
    {% endblock body %}

	{% block all_script %}{% compress js %}
		<script type="text/javascript" src="{% static "mwlearnapp/external/jquery/jquery.js" %}"></script>
		{# may not need this <script type="text/javascript" src="{% static "main/external/jquery/jquery-ui.js" %}"></script> #}

		{# additional js: this is generally what subtemplates should use #}
		{% block script %}{% endblock script %}
	{% endcompress js %}{% endblock all_script %}

	{% if 'dbg' in request.GET %}
		<pre style="background: white">{% debug %}</pre>
	{% endif %}
</body>

</html>
